{% extends "movies.html" %}
{% block movies %}
    <h1>Food and Drinks</h1>
        <div class="container">
          <div class="row">
            <h3 style="color:white">Combos</h3>
            {% for item in combo %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body" style="background-color: #c3dadb;">
                  <h5 class="card-title" style="color : black">{{ item.name }}</h5>
                  <p class="card-text" style="color : black">{{ item.description }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <input type="number" id="{{ item.itemID }}" value="0" min="0">
                      <button type="button" class="btn btn-sm btn-outline-secondary">${{ item.price }}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            <h3 style="color:white">Ala-Carte</h3>
            {% for item in aCarte %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body" style="background-color: #c3dadb;">
                  <h5 class="card-title" style="color : black">{{ item.name }}</h5>
                  <p class="card-text" style="color : black">{{ item.description }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <input type="number" id="{{ item.itemID }}" value="0" min="0">
                      <button type="button" class="btn btn-sm btn-outline-secondary">${{ item.price }}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <button onclick = "fetchSendJson()" class="btn btn-primary">Buy</button>
        </div>
    </div>


<script>
    function fetchSendJson(){
        fetch('/getJsonData')
            .then(response => response.json())
            .then(data => {
                // Assign the retrieved JSON object to a variable
                

                // Do something with the retrieved data
                
                sendJson(data)
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        }
        
    function sendJson(data)
    {
        data["foodAndDrinks"] = {};
        
        '{% for item in combo %}'
            
            data["foodAndDrinks"]['{{item.itemID}}'] = document.getElementById("{{item.itemID}}").value
        '{% endfor %}'
        '{% for item in aCarte %}'
            
            data["foodAndDrinks"]['{{item.itemID}}'] = document.getElementById("{{item.itemID}}").value
        '{% endfor %}'
        console.log(data["foodAndDrinks"]);

        fetch('/processJsonFoodDrinks',{
                method: 'POST',
                headers: {
                'Content-Type' : 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
            // do something with the data
            window.location.href = '/foodDrinks';
            });
    }
</script>

{% endblock %}