{% extends "movies.html" %}
{% block movies %}
    <div id="container"> 
        <h2 style="color:white">{{ seatDetails[0].Name }}</h2>
        <h4 style="color:white">{{ seatDetails[0].dateTime }}</h4>
        <div id="legend" style="float:left; width:24%;background-color: black; border-radius: 5px;">
            <h3 style="color:white">Legend</h3>
            <img src="{{url_for('static', filename='seat-curr-avail.png')}}">
            <b style="color:white">Available</b>
            <br/>
            <br/>
            <img src="{{url_for('static', filename='seat-curr-select.png')}}">
            <b style="color:white">Selected</b>
            <br/>
            <br/>
            <img src="{{url_for('static', filename='seat-curr-unavail.png')}}">
            <b style="color:white">Unavailable</b>
            <br/>
            <br/>
        </div>
        <div id="selectSeat" style="float:right; width: 24%;background-color: black; border-radius: 5px;">
            <h3 style="color:white">Selected Seats</h3>
            <button onclick="setPreferredSeat()" class="btn btn-sm btn-outline-secondary" style="color:white">Set Preferred Seats</button>
            <div id="seatSelectID"></div>
            <br/>
            <div id="typeSelect">
                <b style="color:white">Adult ticket - $14.00</b>
                <input type="number" min="0" max="100" value = "0" id="adultTix" name = "adultTix" style="width:30px">
                <br/>
                <br/>
                <b style="color:white">Student ticket - $8.00</b>
                <input type="number" min="0" max="100" value = "0" id="studentTix" name = "studentTix" style="width:30px">
                <br/>
                <br/>
                <b style="color:white">Senior ticket - $10.00</b>
                <input type="number" min="0" max="100" value = "0" id="seniorTix" name = "seniorTix" style="width:30px">
                <br/>
                <br/>
                <b style="color:white">Child ticket - $5</b>
                <input type="number" min="0" max="100" value = "0" id="childTix" name = "childTix" style="width:30px">
                <br/>
                <br/>
                <button onclick="sendJSON()" class="btn btn-sm btn-outline-secondary" style="color:white">Submit</button>
            </div>
        </div>
        
        <div id="seat" style="margin:0 auto; width: 50%;border-style: solid; border-color: black; background-color: black;">
            <br/>
            <b style="margin-left:auto; width:50%; margin-right:auto; display: block; text-align: center; color:white">Screen</b>
            <img src="{{url_for('static', filename='screen-no-text.png')}}" style="margin-left:auto; width:50%; margin-right:auto; display: block;"/>
        </div>

    </div>
    <script>
        var selectedSeat = [];
        const jsonData = {
            "movieID" : '{{ seatDetails[0].movieID }}',
            "title" : '{{ seatDetails[0].title }}',
            "roomID" : '{{ seatDetails[0].roomID }}',
            "dateTime" : '{{ seatDetails[0].dateTime }}',
            "ticketType" : ' ',
            "bookedSeats" : '  ',
            "foodAndDrinks" : ' '
        };
        var occupupiedSeatQ = '{{ seatDetails[0].bookedSeats|tojson}}'
        var occupiedSeatsJSON = occupupiedSeatQ.substring(1, occupupiedSeatQ.length - 1);
        var occupiedSeats = JSON.parse(occupiedSeatsJSON)
        console.log(occupiedSeats)
        //Dictioncary to print seat row
        var rowDict = {
            1:"A",
            2:"B",
            3:"C",
            4:"D",
            5:"E",
            6:"F",
            7:"G",
            8:"H",
            9:"I",
            10:"J",
            11:"K",
            12:"L",
            13:"M",
            14:"N",
            15:"O",
            16:"P",
            17:"Q",
            18:"R",
            19:"S",
            20:"T",
            21:"U",
            22:"V",
            23:"W",
            24:"X",
            25:"Y",
            26:"Z",
        }
        //Generate Seat based on seat rows and columns
        var seatRows = Number('{{ seatDetails[0].roomRow }}');
        console.log(seatRows);
        var seatColumn = Number('{{ seatDetails[0].roomCol }}');
        console.log(seatColumn);
        const table = document.createElement("table");
        table.style.margin = 'auto';
        const seatDiv = document.getElementById("seat");
        for(let x = 0; x< seatRows; x++){

            let tabR = document.createElement("tr");

            let rowLableCell = document.createElement("td");
            rowLableCell.innerHTML = rowDict[x+1];
            rowLableCell.style.color = "white";
            tabR.appendChild(rowLableCell);
            for (let i=0; i<seatColumn; i++){
                let colId = i+1;
                let tabD = document.createElement("td");
                let image = document.createElement("img");
                image.setAttribute("src","{{url_for('static', filename='seat-curr-avail.png')}}");
                image.setAttribute("onclick","selectSeat(this)");
                image.setAttribute("id",rowDict[x+1]+colId)
                tabD.appendChild(image);
                tabR.appendChild(tabD);
            }
            table.appendChild(tabR);
        }
        const colIdRow = document.createElement("tr");
        
        for (let y = 0; y < seatColumn+1; y++){
            let colIdCell = document.createElement("td");
                colIdCell.innerHTML = y;
                if(y == 0){
                    
                    colIdCell.style.color = "Black"
                }
                else{
                    colIdCell.style.color = "White"
                }
                colIdRow.appendChild(colIdCell);


                


            
        }
        table.appendChild(colIdRow);
        seat.appendChild(table);

        //set occupiedseats
        for(let i=0; i<occupiedSeats.length; i++)
        {
            let occupiedSeatImg = document.getElementById(occupiedSeats[i]);
            console.log(occupiedSeats[i])
            occupiedSeatImg.src = "{{url_for('static', filename='seat-curr-unavail.png')}}"; 
        }


        var totalLimit = 0; 
        function selectSeat(image){
            const seatSelectDiv = document.getElementById("seatSelectID");
            if (image.getAttribute('src') === "{{url_for('static', filename='seat-curr-avail.png')}}"){
                image.setAttribute('src', "{{url_for('static', filename='seat-curr-select.png')}}");
                let selectedText = document.createElement("b");
                selectedText.innerHTML = image.id+ " ";
                selectedText.id = "selected-"+image.id
                selectedText.style.color = "white";
                seatSelectDiv.appendChild(selectedText);
                selectedSeat.push(image.id);
                totalLimit+=1;
            }
            else if (image.getAttribute('src') === "{{url_for('static', filename='seat-curr-select.png')}}"){
                image.setAttribute('src', "{{url_for('static', filename='seat-curr-avail.png')}}");
                let deselectText = document.getElementById("selected-"+image.id);
                deselectText.remove();
                var index = selectedSeat.indexOf(image.id);
                delete selectedSeat[index];
                totalLimit-=1;
            }
            
        }
        
        function setPreferredSeat()
        {
            seatPrefer = "middle";
            //set user preferred seats
            frontBackRows = Math.floor(seatRows / 3);
            middleRows = seatRows - frontBackRows;
            let flag = false;
            if(seatPrefer == "front")
            {
                for(let i = 0; i < frontBackRows; i++)
                {
                    if(flag == true)
                    {
                        break;
                    }
                    for(let y = 0; y<seatColumn; y++)
                    {
                        let colNum = y+1
                        let currSeat = document.getElementById(rowDict[i+1]+colNum);
                        if(currSeat.src === "{{url_for('static', filename='seat-curr-avail.png')}}")
                        {
                            selectSeat(currSeat);
                            flag = true;
                            break;
                        }
                    }
    
                }
            }
            else if(seatPrefer == "middle")
            {
                for(let i = frontBackRows; i < middleRows; i++)
                {
                    if(flag == true)
                    {
                        break;
                    }
                    for(let y = 0; y<seatColumn; y++)
                    {
                        let colNum = y+1
                        let currSeat = document.getElementById(rowDict[i+1]+colNum);
                        if(currSeat.getAttribute('src') === "{{url_for('static', filename='seat-curr-avail.png')}}")
                        {
                            selectSeat(currSeat);
                            flag = true;
                            break
                        }
                    }
                }
            }
            else if(seatPrefer == "back")
            {
                for(let i = middleRows; i < frontBackRows+middleRows; i++)
                {
                    if(flag == true)
                    {
                        break;
                    }
                    for(let y = 0; y<seatColumn; y++)
                    {
                        let colNum = y+1
                        let currSeat = document.getElementById(rowDict[i+1]+colNum);
                        if(currSeat.src === "{{url_for('static', filename='seat-curr-avail.png')}}")
                        {
                            selectSeat(currSeat);
                            flag = true;
                            break;
                        }
                    }
                }
            }
        }
        // Add event listeners to each input field
        document.getElementById("adultTix").addEventListener("change", checkTotal);
        document.getElementById("studentTix").addEventListener("change", checkTotal);
        document.getElementById("seniorTix").addEventListener("change", checkTotal);
        document.getElementById("childTix").addEventListener("change", checkTotal);

        // Function to check the total value of all input fields
        function checkTotal() {
        let total = 0;
        // Get the value of each input field and add it to the total
        total += parseInt(document.getElementById("adultTix").value);
        total += parseInt(document.getElementById("studentTix").value);
        total += parseInt(document.getElementById("seniorTix").value);
        total += parseInt(document.getElementById("childTix").value);

        // If the total exceeds the limit, reset the last changed input field to its previous value
        if (total > totalLimit) {
            const lastChanged = event.target;
            const oldValue = parseInt(lastChanged.dataset.oldValue) || 0;
            lastChanged.value = oldValue;
        } else {
            // Store the current value of the changed input field
            event.target.dataset.oldValue = event.target.value;
        }
        }
        
        


        function sendJSON(){
            jsonData["bookedSeats"] = selectedSeat;
            jsonData["ticketType"] = {
                "adultTix" : document.getElementById("adultTix").value,
                "studentTix" : document.getElementById("studentTix").value,
                "seniorTix" : document.getElementById("seniorTix").value,
                "childTix" : document.getElementById("childTix").value
            }
            fetch('/processJsonFoodDrinks',{
                method: 'POST',
                headers: {
                'Content-Type' : 'application/json'
                },
                body: JSON.stringify(jsonData)
            })
            .then(response => response.json())
            .then(data => {
            // do something with the data
            window.location.href = '/foodDrinks';
            });
        }
        


    </script>
{% endblock %}